## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [20]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [21]:
# Your code here
import random
sample_list_1=random.sample(range(0,100), 80)
        
print(sample_list_1)

[77, 43, 81, 28, 25, 51, 82, 48, 2, 78, 50, 6, 97, 96, 88, 57, 32, 73, 99, 7, 79, 30, 54, 84, 1, 70, 39, 85, 61, 27, 40, 47, 59, 21, 31, 63, 86, 75, 20, 4, 49, 11, 69, 52, 62, 38, 56, 18, 45, 41, 24, 55, 12, 80, 34, 5, 91, 66, 19, 35, 87, 42, 72, 26, 83, 65, 17, 46, 98, 10, 92, 33, 53, 29, 22, 95, 67, 64, 60, 13]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [22]:
# Your code here
set1=set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [23]:
# Your code here
sample_list_2=[]
for i in range(80):
    sample_list_2.append(random.randint(0, 100)) 
print(sample_list_2)

[84, 74, 5, 89, 87, 19, 53, 51, 46, 86, 9, 65, 71, 18, 56, 98, 73, 61, 41, 40, 43, 7, 40, 89, 93, 70, 59, 37, 100, 90, 53, 3, 61, 68, 44, 6, 56, 48, 67, 98, 43, 61, 84, 78, 81, 99, 24, 96, 75, 25, 16, 61, 96, 41, 74, 59, 65, 5, 20, 15, 66, 62, 21, 38, 79, 91, 45, 90, 26, 28, 7, 30, 28, 50, 86, 24, 60, 70, 29, 6]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [24]:
# Your code here
set2=set(sample_list_2)
print(len(set2))

57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [25]:
# Your code here
set3=set1.difference(set2)
print(set3)

{1, 2, 4, 10, 11, 12, 13, 17, 22, 27, 31, 32, 33, 34, 35, 39, 42, 47, 49, 52, 54, 55, 57, 63, 64, 69, 72, 77, 80, 82, 83, 85, 88, 92, 95, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [26]:
# Your code here
set4=set2.difference(set1)
print(set4)

{3, 68, 37, 100, 71, 9, 74, 44, 15, 16, 89, 90, 93}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [27]:
# Your code here
set5=set1.intersection(set2)
print(set5)

{5, 6, 7, 18, 19, 20, 21, 24, 25, 26, 28, 29, 30, 38, 40, 41, 43, 45, 46, 48, 50, 51, 53, 56, 59, 60, 61, 62, 65, 66, 67, 70, 73, 75, 78, 79, 81, 84, 86, 87, 91, 96, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [28]:
# Your code here

print(set1.union(set2,set3,set4,set5))

{1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99, 100}

#### Create an empty set called `set6`.

In [29]:
# Your code here
set6={}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [30]:
# Your code here
set6={}
set6=set3.update(set5)
set6.update(set5)
print(set6)

AttributeError: 'NoneType' object has no attribute 'update'

#### Check if `set1` and `set6` are equal.

In [31]:
# Your code here
set1==set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [32]:
# Your code here
set2.issubset(set1)
set3.issubset(set2)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [33]:
# Your code here
set7= set.union(set3, set4, set5)
set8= set.union(set1, set2)
set7==set8

True

#### Using the `pop` method, remove the first element from `set1`.

In [34]:
# Your code here
lst=list(set1)
lst.pop(0)
set1=set(lst)
print(set1)

{2, 4, 5, 6, 7, 10, 11, 12, 13, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 69, 70, 72, 73, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 91, 92, 95, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [36]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for element in set1:
    if element in list_to_remove:
        set1.remove(element)

print(set1)

RuntimeError: Set changed size during iteration