# Advanced Querying Mongo

Importing libraries and setting up connection

In [2]:
from pymongo import MongoClient
client = MongoClient()

In [3]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [4]:
db = client.get_database("companies")

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [17]:
# Your Code
list(db.companies.find({"name":"Babelgum"}, {"name":1}))

[{'_id': ObjectId('52cdef7c4bab8bd675297da0'), 'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [18]:
# Your Code
len(list(db.companies.find({"number_of_employees":{"$gt":5000}}).sort([("number_of_employees", 1)]).limit(20)))

20

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [21]:
# Your Code
len(list(db.companies.find({"founded_year":{"$gte":2000, "$lte":2005}}, {"name":1, "founded_year":1})))

3734

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [75]:
# Your Code

len(list(db.companies.find({"ipo.valuation_amount":{"$gt":100000000}, "founded_year":{"$lt":2010}}, {"name":1, "ipo":1})))

42

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [28]:
# Your Code
len(list(db.companies.find({"number_of_employees": {"$lt":1000}, "founded_year":{"$lt":2005}}).sort([("number_of_employees",1)]).limit(10)))

10

### 6. All the companies that don't include the `partners` field.

In [81]:





# Your Code
list(db.companies.find( { "partners" : { "$exists" : False } } ))

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [83]:
# Your Code
len(list(db.companies.find({"category_code": None})))

2751

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [85]:
# Your Code
len(list(db.companies.find({"number_of_employees":{"$gte":100, "$lt":1000}}, {"name":1, "number_of_employees":1})))

917

### 9. Order all the companies by their IPO price in a descending order.

In [62]:
# Your Code
len(list(db.companies.find({}).sort([("ipo.valuation_amount",-1)])))

18801

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [56]:
# Your Code
len(list(db.companies.find({}).sort([("number_of_employees", 1)]).limit(10)))

10

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [88]:
# Your Code
len(list(db.companies.find({"founded_month":{"$gt":6}}).limit(1000)))

1000

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [89]:
# Your Code
len(list(db.companies.find({"founded_year":{"$lt":2000}, "acquisition.price_amount":{"$gt":1000000}})))

224

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [97]:
# Your Code
len(list(db.companies.find({"acquisitions.acquired_year":{"$gt":2010}},{"name":1, "acquisition":1}).sort([("acquisitions.price_amount",1)])))

665

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [63]:
# Your Code
len(list(db.companies.find({}, {"name":1, "founded_year":1}).sort([("founded_year",1)])))

18801

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [93]:
# Your Code
len(list(db.companies.find({"founded_day":{"$lte":7}}).sort([("acquisitions.price_amount", -1)]).limit(10)))

10

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [70]:
# Your Code
len(list(db.companies.find({"category_code": "web", "number_of_employees":{"$gt":4000}}).sort([("number_of_employees",1)])))

9

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [96]:
# Your Code
len(list(db.companies.find({"acquisitions.price_amount":{"$gt":10000000}, "acquisitions.price_currency_code":"EUR"})))

17

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [101]:
# Your Code
len(list(db.companies.find({"acquisitions.acquired_month":{"$lte":3}},{"name":1, "acquisition":1}).limit(10)))

10

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [104]:
# Your Code
len(list(db.companies.find({"founded_year":{"$gte":2000, "$lte":2010}, "acquisitions.acquired_year":{"$gte":2011}})))

302

### 20. All the companies that have been 'deadpooled' after the third year.

In [7]:
# Your Code
# len(list(db.companies.find({"deadpooled_year":{"$gt":"founded_year"}})))
# len(list(db.companies.find({"deadpooled_year":{"founded_year":{"$gt":3}}})))

903